.loading{
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    /*bottom: 50%;*/
    /*top: 50%;*/
    /*right: 50%;*/
    /*left: 50%;*/
    /*width: 100%;*/
    display: flex;
    align-items: center;
    justify-content: center;
    /*margin: auto 0;*/
    color: var(--cl-white);
}
.loading > div{
    color: var(--cl-white);
    width: 80px !important;
    height: 80px !important;
}

.wrapper {
    min-width: 350px;
    width: 1000px;
    height: 100%;
    background-color: var(--cl-dark);
}

.content {
    width: 100%;
    padding: 32px;
    min-height: 30vh;
}

.blockTitle {
    display: flex;
    justify-content: space-between;
    font-size: 26px;
    width: 100%;
    font-weight: 700;
    min-height: 60px;
    color: var(--cl-white);
}

.titleText {
    padding: 16px 0;
}
.blockContent {
    overflow: hidden;
}

.settings{
    /*background-color: #41f321;*/
}

.themeWrapper{
    padding: 16px;
}


.btnGroup{
    margin-top: 16px;
    display: flex;
    /*width: 100%;*/
}
.btn{
    margin-right: 30px;
    width: 15%;
    padding: 12px 8px;
    text-align: center;
}

.btnAddInput{
    background-color: var(--cl-pl);
}
.btnSave{
    background-color: var(--cl-white);

}
