.none{
    opacity: 0;
}
.one{
    height: 0px;
}
.two{
    height: 100%;
}
.wrapper{
    width: 1200px;
    background-color: var(--cl-dark);
    height: 100%;
}
.content{
    margin: 15px;
}
.blockTitle{
    display: flex;
    justify-content: space-between;
    font-size: 26px;
    width: 100%;
    font-weight: 700;
    min-height: 60px;
    color: var(--cl-white);
}
.titleText{
    padding: 16px 28px;
}
.blockContent{

}

.main{
    color: var(--cl-white);
    overflow: hidden;
    transition: height .5s, opacity 2s ;
}
.mainItem{
    display: flex;
    justify-content: space-between;
    margin: 15px;
    color: var(--cl-white);
}
.mainItem > div{
    /*width: 15%;*/
    margin: 0 15px;
}
.nubmer{
    background-color: #b5285e;
    width: 100%;
    max-width: 50px;
    overflow: hidden;
}
.role{
    width: 100%;
    max-width: 40px;
}

.mainCards {
    /*background-color: #41f321;*/
    margin: 0 18px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
.nonLessons{
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 16px;
    opacity: .5;
}
